.body {
  flex-direction: column;
  width: 100%;
}

.body header {
  width: 100%;
  background-color: #4d44b5;
  border-radius: 20px 20px 0px 0px;
  background-image: url(../../assets/image/teacherSingle.png);
  background-repeat: no-repeat;
  background-position: bottom right 10%;
  background-size: contain;
  padding: 40px 40px 25px;
  height: auto;
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

.body header h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #a098ae;
  justify-content: flex-start;
}

.body header h1 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: #ffffff;
}

.body main {
  padding: 40px 10px 40px 40px;
}

.main__header {
  justify-content: space-between;
}

.main__header div,
.main__header,
.body {
  display: flex;
}

.main__header div {
  align-items: center;
}

.main__header p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
}

.main__header svg {
  width: 40px;
  height: 40px;
  padding: 8px;
  box-sizing: border-box;
  border-radius: 50%;
  background: #FCC43E;
  color: #fff;
  margin-right: 10px;
}
.main__header__delete svg {
  background-color: #FF4550;
  margin-right: 0;
  cursor: pointer;
}

.main__education {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid firebrick;
}

.main__education p {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
  margin-top: 30px;
  width: 100%;
}

.main__education p span {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #a098ae;
}

.main__education button {
  background: #4D44B5;
  border-radius: 40px;
  border: none;
  outline: none;
  color: #fff;
  padding: 12px 40px;
  cursor: pointer;
}
