.body {
  display: flex;
  margin-top: 2rem;
  align-items: flex-start;
}

.block {
  width: 45%;
}
.block2 {
  background-color: #fff;
  background-color: #fff;
  width: 55%;
  border-radius: 20px;
  padding: 2rem;
}
@media (min-width: 0) and (max-width: 991.9px) {
  .body {
    flex-direction: column;
    align-items: center;
  }
  .block,
  .block2{
    width: 100%;
  }
  .block2{
    margin: 2rem 0;
  }
}

@media (min-width: 0) and (max-width: 449.9px) {
  .block2{
    display: none;
  }
}