.tbody,
.tbody__student {
  display: flex;
  align-items: center;
}
.tbody__student {
  width: 30%;
}

.tbody__student h2 {
  margin-left: 1rem !important;
  text-align: left;
  justify-content: left;
}

.tbody {
  justify-content: space-between;
  padding: 30px 0;
}

.tbody img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid gray;
}

.tbody__student h2,
.tbody__class div {
  margin-left: 0.7rem;
}

.tbody h3 {
  color: #4d44b5;
  width: 10%;
}

.tbody h3,
.tbody__student h2,
.tbody__class h5,
.tbody h6 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.tbody__class {
  display: flex;
  width: 9%;
}

.tbody__class h4 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a098ae;
}

.tbody__class h5,
.tbody__student h2,
.tbody h6 {
  color: #303972;
}

.tbody h6 {
  text-align: right;
}

.tbody svg {
  font-size: 24px;
  cursor: pointer;
  margin-left: 1rem;
  color: #a098ae;
}
.print_body {
  padding: 1rem;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
.print_body .print_body__chWrap {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  flex-direction: inherit;
  justify-content: flex-start;
}
.print_body div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  padding: 0 1rem;
  margin-top: .5rem;
}
.print_body .print_body__chWrap div:nth-child(2) {
  justify-content: center;
  border-right: 2px solid;
}
.print_body .print_body__chWrap__title {
  width: 100% ;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between ;
}

.print_body__chWrap__title h1,
.print_body__chWrap__title h3 {
  font-weight: bolder;
  font-size: 18px;
  text-align: center;
}

.print_body h3 {
  padding: 0;
  margin: 0.5rem 0;
  font-size: 16px;
  color: red;
}

.print_body h2 {
  font-weight: 700;
  font-size: 18px;
  border-radius: 0;
  display: flex;
  justify-content: flex-start;
  width: auto;
  margin-top: 0 !important;
}

.print_body h2,
.print_body p {
  margin-bottom: 1rem;
  height: 20px;
}

@media screen and (max-width: 1000.9px) {
  .tbody h3,
  .tbody__class {
    display: none;
  }
  .tbody__student h2,
  .tbody h6 {
    font-size: 14px;
  }
  .tbody img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1001px) and (max-width: 1400.9px) {
  .tbody h3,
  .tbody__class {
    display: none;
  }
  .tbody__student {
    width: 45%;
  }
}
