.tbody,
.tbody__student {
  display: flex;
  align-items: center;
}
.tbody__student{
  width: 30%;
}

.tbody__student h2{
  margin-left: 1rem !important;
  text-align: left;
  justify-content: left;

}

.tbody {
  justify-content: space-between;
  padding: 30px 0;
}

.tbody img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid gray;
}

.tbody__student h2,
.tbody__class div {
  margin-left: 0.7rem;
}

.tbody h3 {
  color: #4d44b5;
  width: 10%;
}

.tbody h3,
.tbody__student h2,
.tbody__class h5,
.tbody h6 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
}

.tbody__class {
  display: flex;
  width: 9%;
}

.tbody__class h4 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a098ae;
}

.tbody__class h5,
.tbody__student h2,
.tbody h6 {
  color: #303972;
}

.tbody h6 {
  text-align: right;
}

.tbody svg {
  font-size: 24px;
  cursor: pointer;
  margin-left: 1rem;
}

.print_body{
  padding: 1rem;
}

.print_body h1{
  font-weight: bolder;
  font-size: 30px;
  text-align: center;
}

.print_body h2{
  font-weight: bold;

}


@media screen and (max-width: 1000.9px) {
  .tbody h3,
  .tbody__class {
    display: none;
  }
  .tbody__student h2,
  .tbody h6 {
    font-size: 14px;
  }
  .tbody img {
    width: 30px;
    height: 30px;
  }
}

@media (min-width: 1001px) and (max-width: 1400.9px) {
  .tbody h3,
  .tbody__class {
    display: none;
  }
  .tbody__student{
    width: 45%;
  }
}