.body {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 32px;
}

.body h1 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #303972;
}

.error{
  margin: 2rem auto;
  text-align: center;
}

@media screen and (max-width: 991.9px) {
  .body{
    padding: 20px;
  }

  .body h1{
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: 992px) and (max-width: 1400.9px) {
  .body{
    margin-top: 2rem;
  }
}