.body {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-top: 3rem;
  padding: 32px;
}

.body h1 {
  font-family: 'Poppins' sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #303972;
}
