.wrap {
  display: flex;
}

.body {
  width: 250px;
  background-color: #fff;
  height: 100%;
  grid-area: n;
}

.header__icons {
  box-shadow: 0px 20px 50px rgba(191, 21, 108, 0.05);
  height: 40px;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #a098ae;
  font-size: 25px;
  margin-right: 10px;
  cursor: pointer;
}

.header__icons1 {
  margin-right: .7rem;
}

.header__adminInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 0.3rem;

}

.header__adminInfo h1 {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 21px;
  color: #303972;
}

.header__adminInfo p {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #a098ae;
}

.header {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.header__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: contain;
  background-color: #c1bbeb;
  margin-left: 1rem;

}

.header__adminInfo__wrap {
  display: flex;
}

.block {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 0) and (max-width: 991.9px) {
  .wrap{
    margin-left: 1rem;
  }
  .block {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    margin: 0 1rem 0 auto;
  }

  .header {
    margin: 10px 0;
    justify-content: space-around;
    height: auto;
  }
  .header__icons1 {
    visibility: hidden;
  }
  .body {
    justify-content: flex-end;
    padding-right: 1rem;
    display: flex;
    width: 100%;
    align-items: center;
  }
  .header__img{
    display: none;
  }
  .header__adminInfo{
    align-items: flex-start;
  }
}

@media (min-width: 0) and (max-width: 577.9px) {
  .block {
    display: none;
  }
  .body {
    justify-content: flex-end;
    padding-right: 1rem;
  }
}

@media (min-width: 992px) and (max-width: 1400.9px) {
  .block {
    justify-content: flex-end;
    display: flex;
  }
  .body {
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: 0px -16px 15px 0px #00000010;

  }
  .header {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 33%;
    justify-content: flex-start;
  }
}
