.student_details {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 2rem;
  margin-bottom: 2rem;
  border-radius: 20px;
}

.student_details h1 {
  background: #4d44b5;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 36px;
  color: #ffffff;
  padding: 12px 20px;
}

.student_details form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 2rem;
  align-items: stretch;
}

.student_details form .student_details_block {
  width: 49%;
  margin-top: 1.5rem;
}

.student_details form h2 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
  text-align: right;
  justify-content: flex-start;
  width: 100%;
}

.student_details form .student_details_block input,
.student_details form .student_details_block select {
  border: 1px solid #c1bbeb;
  outline: none;
  border-radius: 5px;
  margin-top: 0.5rem;
  padding: 0.9rem;
  color: #2d2492;
  width: 100%;
}

.student_details form .student_details_block select {
  background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
  background-position-x: 98%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  -moz-appearance: none;
  appearance: none;
  -webkit-appearance: none;
}

.student_details
  form
  .student_details_block_radio
  .student_details_block_radio_div {
  margin-top: 0.5rem;
  justify-content: flex-start;
}

.student_details form .student_details_block div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.student_details form .student_details_block div input {
  width: 48%;
}

.student_details form .student_details_block textarea {
  background: #ffffff;

  border: 1px solid #c1bbeb;
  border-radius: 5px;
  width: 100%;
  height: 175px !important;
  margin-top: 1rem;
  padding: 15px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  outline: none;
  color: #2d2492;
}

.student_details form .student_details_block textarea::placeholder {
  color: #a098ae;
}

.student_details form .student_details__btn {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.student_details__btn button {
  border: 2px solid #4d44b5;
  border-radius: 40px;
  padding: 10px 24px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  margin: 0;
  cursor: pointer;
  box-sizing: border-box;
}

.student_details__btn button:nth-child(2):hover,
.student_details__btn button:first-child {
  background-color: transparent;
  color: #4d44b5;
}

.student_details__btn button:nth-child(2):hover {
  box-shadow: inset 0px 0px 5px #4d44b5;
  border-color: #fff;
}
.student_details__btn button:first-child:hover {
  box-shadow: 0px 0px 4px #4d44b5;
  border-color: #fff;
}

.student_details__btn button:first-child:hover,
.student_details__btn button:nth-child(2) {
  background-color: #4d44b5;
  color: #fff;
}

.student_details__btn button:nth-child(2) {
  margin-left: 1rem;
}

.student_details_block_radio div,
.student_details_block_radio div div {
  display: flex;
}

.student_details_block_radio div div {
  width: 60px;
  justify-content: center;
  align-items: center;
}
.wrap input[type="radio"] {
  display: grid;
  place-content: center;
}
.wrap input:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.wrap input[type="radio"]:checked::before {
  transform: scale(1);
}

.required input:invalid {
  color: red !important;
}

@media (min-width: 0) and (max-width: 991.9px) {
  .student_details {
    width: 90%;
    margin-right: auto;
  }
  .student_details form .student_details_block_text,
  .student_details form .student_details__btn {
    width: 100%;
  }
}

@media screen and (max-width: 800.9px) {
  .student_details form .student_details_block {
    width: 100%;
  }
  .student_details h1 {
    font-size: 18px;
    line-height: 28px;
  }
}

@media screen and (max-width: 500.9px) {
  .student_details
    form
    .student_details_block_radio
    .student_details_block_radio_div
    div,
  .student_details
    form
    .student_details_block_radio
    .student_details_block_radio_div {
    flex-direction: row;
  }
  .student_details
    form
    .student_details_block_radio
    .student_details_block_radio_div
    input {
    margin: 0;
  }
  .student_details form .student_details_block div {
    flex-direction: column;
  }
  .student_details form .student_details_block div input {
    width: 100%;
    margin-top: 0.5rem;
  }
  .student_details form .student_details_block textarea,
  .student_details form .student_details_block input {
    font-size: 12px;
    line-height: 18px;
    padding: 0.6rem;
  }
  .student_details form .student_details_block textarea {
    height: 100px !important;
  }
  .student_details form {
    padding: 0 1rem;
  }
  .student_details form .student_details_block {
    margin-top: 1rem;
  }
  .student_details form h2 {
    font-size: 14px;
    line-height: 20px;
  }
  .student_details {
    padding-bottom: 1rem;
  }
  .student_details__btn button {
    font-size: 14px;
    line-height: 20px;
    padding: 7px 15px;
  }
  .student_details__btn button:nth-child(2) {
    margin-left: 0.5rem;
  }
}
