.tableTH,
.dataWrap,
.wrap,
.search {
  display: flex;
}

.wrap {
  flex-direction: column;
}

.tableTH {
  align-items: center;
}

.tableTH,
.dataWrap {
  justify-content: space-between;
}

.wrap strong,
.wrap h2 {
  width: 10%;
  border-radius: 0;
  justify-content: center;
}

.wrap strong,
.wrap h2,
.wrap h3,
.wrap h4,
.wrap h5,
.dataWrap button {
  text-align: center;
}

.tableTH h1,
.tableTH h2,
.tableTH h3,
.tableTH h4,
.tableTH h5,
.tableTH strong,
.wrap strong,
.wrap h2 {
  font-size: 20px;
}

.wrap strong,
.wrap h2,
.wrap h1,
.wrap h3,
.wrap h4,
.dataWrap h1,
.dataWrap h2,
.dataWrap h3,
.dataWrap h4 {
  padding: 0.5rem 0;
  border-right: 2px solid #303972;
}

.tableTH h1,
.tableTH h2,
.tableTH h3,
.tableTH h4,
.tableTH h5,
.tableTH strong {
  color: #fff;
  font-weight: 700;
  line-height: 30px;
  background-color: #4d44b5;
  border-right: 2px solid;
}
.dataWrap h1,
.dataWrap h2,
.dataWrap h3,
.dataWrap h4 {
  font-size: 18px;
  line-height: 25px;
  border-radius: 0;
}

.wrap h1 {
  width: 35%;
}

.wrap h1 {
  padding-left: 1rem;
}

.tableTH strong {
  border-top-left-radius: 10px;
}

.wrap h3,
.wrap h4,
.tableTH h5,
.dataWrap button {
  width: 15%;
}

.tableTH h5,
.dataWrap button {
  margin: 0;
  border-right: none !important;
  padding: 0.5rem 0;
  border-top-right-radius: 10px;
}

.dataWrap button {
  background-color: transparent;
  border: none;
  font-weight: 500;
  font-size: 19px;
  border-top-right-radius: 10px;
}

.dataWrap .noPaid {
  color: red;
}

.dataWrap .paid {
  color: #303972;
}

.search {
  margin-bottom: 1rem;
  width: 70%;
}

.search input {
  width: 90%;
  outline: none;
  padding: 1rem;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.search_add_block button,
.search_add_block a
 {
  width: 90px;
  margin: 0;
  outline: none;
  background-color: #4d44b5;
  color: #fff;
  border: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 18px;
  cursor: pointer;
}

.search_add_block a{
  border-radius: 40px;
}

.search_add_block {
  display: flex;
  justify-content: space-between;
}

.add{
  width: auto !important;
  padding: 0 1rem;
  margin-bottom: 1rem !important;
  
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 992.9px) {
  .wrap {
    width: 90%;
  }
}

@media screen and (max-width: 900.9px) {
  .wrap {
    width: 90%;
  }
  .search input {
    width: 80%;
    padding: 0.7rem;
  }
  .search button {
    width: 20%;
  }
  .tableTH h1,
  .tableTH h2,
  .tableTH h3,
  .tableTH h4,
  .tableTH h5,
  .search button,
  .search input,
  .tableTH strong,
  .wrap strong,
  .wrap h2,
  .dataWrap h1,
  .dataWrap h2,
  .dataWrap h3,
  .dataWrap button,
  .dataWrap h4 {
    font-size: 14px;
  }
  .wrap h3,
  .wrap h4,
  .tableTH h5,
  .dataWrap button {
    width: 17%;
  }
  .wrap h1 {
    width: 25%;
  }
  .wrap strong,
  .wrap h2 {
    width: 13%;
  }
}

@media screen and (max-width: 600.9px) {
  .wrap strong {
    display: none;
  }
  .wrap h3 {
    width: 20%;
  }
  .wrap h4 {
    width: 23%;
  }
  .wrap h2 {
    width: 15%;
  }
  .tableTH h1,
  .tableTH h2,
  .tableTH h3,
  .tableTH h4,
  .tableTH h5,
  .search button,
  .search input,
  .tableTH strong,
  .wrap strong,
  .wrap h2,
  .dataWrap h1,
  .dataWrap h2,
  .dataWrap h3,
  .dataWrap button,
  .dataWrap h4 {
    font-size: 12px;
    padding-left: 0.5rem;
  }
}
