body{
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
body {
  margin: 0;
}

#components-layout-demo-responsive .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.2);
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

.sidebar::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #fff;
}

.ant-menu-item-selected a, .ant-menu-item-selected a:hover {
  color: #4D44B5 !important;
}