.body {
  width: 100%;
  background-color: #fff;
  border-radius: 1.6rem;
  padding-bottom: 30px;
}

.img_back {
  width: 100%;
  background-image: url(../../assets/image/settings.png);
  position: relative;
  height: 180px;
  background-size: contain;
  background-repeat: no-repeat;
}

.img_back div {
  position: absolute;
  width: 180px !important;
  height: 180px !important;
  object-fit: fill;
  border-radius: 50%;
  border: 8px solid rgb(255, 255, 255);
  left: 24px;
  top: 24px;
  background-color: #c1bbeb;
}

.block {
  margin-top: calc((200px - 180px));
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0 24px;
}

.block input {
  width: 100%;
  background: #ffffff;
  border: 2px solid #c1bbeb;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: rgb(77 68 181 / 90%);
  padding: 10px;
  font-weight: 600;
  outline: none;
}

.block h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;

  color: #303972;

  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.block svg {
  cursor: pointer;
}

.dot {
  margin: 0 24px 0 auto;
  display: flex;
  color: #a098ae;
  font-size: 30px;
  cursor: pointer;
}
.first_b p {
  font-family: "Poppins", sans-serif;

  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
  margin: 8px 0;
}

.first_b h2 {
  width: 100%;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;

  color: #a098ae;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.first_b h2 svg {
  margin-right: 0.3rem;
  font-size: 18px;
}

.second_b {
  width: 30%;
}

.second_b div {
  display: flex;
  align-items: center;
}

.second_b h3 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #a098ae;
  margin: 8px 0;
}

.second_b h5 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  color: #303972;
  margin-left: 1rem;
}

.second_b h4 {
  background-color: #fb7d5b;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
}

.one {
  width: 30%;
}

.second_b input {
  margin-left: 0.5rem;
}

@media screen and (max-width: 880.9px) {
  .block {
    display: grid;
    grid-template-areas: "d d" "t e";
    grid-template-columns: 1fr 1fr;
  }
  .first_b {
    grid-area: d;
  }
  .second_b {
    margin-top: 0.5rem;
  }
  .one,
  .first_b {
    width: 100%;
  }
  .two {
    grid-area: t;
  }
  .three {
    grid-area: e;
  }

  .img_back div {
    width: 130px !important;
    height: 130px !important;
  }
  .img_back {
    height: 130px;
  }
  .block h1 {
    font-size: 25px;
  }

  .second_b h5 {
    margin-left: 0.5rem;
  }
  .second_b h5,
  .second_b h3,
  .first_b h2,
  .first_b p {
    font-size: 16px;
  }
}

@media screen and (max-width: 991.9px) {
  .body {
    width: 95%;
    margin-right: auto;
  }
}

@media screen and (max-width: 710px) {
  .block {
    display: grid;
    grid-template-areas: "d" "t" "e";
    grid-template-columns: 1fr;
    margin-top: 0;
  }
  .img_back {
    height: 90px;
    background-size: cover;
    background-position: top right;
    border-top-left-radius: 10px;
  }
  .img_back div {
    width: 100px !important;
    height: 100px !important;
  }
  .dot{
    margin-top: 1rem;
  }
}
@media screen and (max-width: 710px) {
}
